.mat-mdc-dialog-content.mdc-dialog__content.photo-dialog {
    max-height: 85vh;
    max-width: 50vw;
    padding: 32px 40px;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}