<div class="subjects-container-padding">
    <div class="subjects-container">

        <form class="feedback-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <mat-card class="field-card" >
                <mat-card-header> </mat-card-header>

                <mat-card-content>
                    <mat-card-title> {{universityClass?.name}}</mat-card-title>


                    <div class="section">
                        <mat-icon>school</mat-icon>
                        <p class="info"><span>Teacher</span><br>{{getTeacherFullName(universityClass?.teacher)}}</p>
                    </div>

                    <div class="description-margin">
                        <mat-card-subtitle>
                            {{universityClass?.description}}
                        </mat-card-subtitle>
                    </div>

                    <mat-card-footer class="card-footer">
                        <p class="note"> Note: Please provide as many details as you can in the text area in order for your colleagues to learn
                            from you experience with this subject. Do not forget that your opinion can be a valuable advice for others! </p>
                    </mat-card-footer>

                </mat-card-content>

            </mat-card>

            <mat-card class="field-card" >
                <mat-card-content>

                    <div class="field-question">
                        {{category?.gradeQuestion}}
                        <mat-error class="required" *ngIf="form.get('grade')?.hasError('required')">*</mat-error>
                    </div>

                    <mat-radio-group  formControlName="grade" class="radio-options">
                        <div  *ngFor="let option of getOptions()">
                            <mat-radio-button  [value]="option.value">
                                {{ option.label }}
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </mat-card-content>
            </mat-card>

            <mat-card class="field-card" >
                <mat-card-content>
                    <div class="field-question">
                        {{category?.feedbackTextQuestion}}
                    </div>

                    <mat-form-field class="textarea-field">
                        <mat-label>Write your legacy</mat-label>
                      <textarea formControlName="feedbackText" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" maxlength="2000" matInput></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

            <button (click)="openFeedbackDialog()" class="submit-button" mat-raised-button color="primary" type="submit">SUBMIT FEEDBACK</button>
        </form>


    </div>
</div>