<div class="mentorship-container-padding">
    <div class="mentorship-container">
        <mat-card class="mentorship-action-card">
            <div class="primary-content">
                <p>{{getNumPendingRequests()}} pending requests</p>
            </div>

            <div class="image-container">
                <img mat-card-image src="assets/images/mentorship/mentorship-bg.png">
            </div>

            <div class="secondary-content">
                <div class="left-section" routerLink="/mentorship/mentors">
                    <p>{{numMentors}} mentors available</p>
                </div>
                <!-- TODO: redirect to contact page when it will exist -->
                <div class="right-section" routerLink="/home">
                    <p>Get help</p>
                </div>
            </div>
        </mat-card>

        <div class="title-header" #requests>
            <span>Pending Requests</span>
        </div>

        <div class="tabs-container" *ngIf="isMentor">
            <mat-tab-group class="tabs">
                <mat-tab label="My Requests">
                    <div class="meetings">
                        <div class="all-meetings">
                            <div class="row" *ngFor="let request of myPendingRequests">
                                <div class="meeting-overview description">
                                    <div class="row1">
                                        <div class="info">
                                            <div class="person">
                                                <div class="profile-photo">
                                                    <img [src]="getImage(request)">
                                                </div>
                                                <span class="name">{{getName(request)}}</span>
                                            </div>

                                            <div class="email">
                                                <a href="mailto:{{getEmail(request)}}">
                                                    <span class="email">{{getEmail(request)}}</span>
                                                </a>
                                            </div>

                                            <div class="datetime">
                                                <span>{{getDate(request)}}</span>
                                                <span>{{getTime(request)}}</span>
                                            </div>

                                            <div class="subject">
                                                <span>{{getSubject(request)}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row2 hidden">
                                        <mat-divider></mat-divider>

                                        <span>Description</span>
                                        <span>{{getDescription(request)}}</span>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <mat-icon matTooltip="Delete request"
                                        (click)="openDeleteDialog(request)">delete_outline</mat-icon>
                                </div>
                            </div>

                            <div class="no-results" *ngIf="!myPendingRequests.length">
                                <span>No requests</span>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Requests To Me">
                    <div class="meetings">
                        <div class="all-meetings">
                            <div class="row" *ngFor="let request of pendingRequestsForMe">
                                <div class="meeting-overview description">
                                    <div class="row1">
                                        <div class="info">
                                            <div class="person">
                                                <div class="profile-photo">
                                                    <img [src]="getImage(request)">
                                                </div>
                                                <span class="name">{{getName(request)}}</span>
                                            </div>

                                            <div class="email">
                                                <a href="mailto:{{getEmail(request)}}">
                                                    <span class="email">{{getEmail(request)}}</span>
                                                </a>
                                            </div>

                                            <div class="datetime">
                                                <span>{{getDate(request)}}</span>
                                                <span>{{getTime(request)}}</span>
                                            </div>

                                            <div class="subject">
                                                <span>{{getSubject(request)}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row2 hidden">
                                        <mat-divider></mat-divider>

                                        <span>Description</span>
                                        <span>{{getDescription(request)}}</span>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <mat-icon matTooltip="Accept request" class="accept"
                                        (click)="openApproveDialog(request)">check_circle_outline</mat-icon>

                                    <mat-icon matTooltip="Decline request" color="warn"
                                        (click)="openDeclineDialog(request)">remove_circle_outline</mat-icon>
                                </div>
                            </div>

                            <div class="no-results" *ngIf="!pendingRequestsForMe.length">
                                <span>No requests</span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="tabs-container student" *ngIf="!isMentor">
            <div class="tabs">
                <div class="meetings" *ngIf="!isMentor">
                    <div class="all-meetings">
                        <div class="row" *ngFor="let request of myPendingRequests">
                            <div class="meeting-overview description">
                                <div class="row1">
                                    <div class="info">
                                        <div class="person">
                                            <div class="profile-photo">
                                                <img [src]="getImage(request)">
                                            </div>
                                            <span class="name">{{getName(request)}}</span>
                                        </div>

                                        <div class="email">
                                            <a href="mailto:{{getEmail(request)}}">
                                                <span class="email">{{getEmail(request)}}</span>
                                            </a>
                                        </div>

                                        <div class="datetime">
                                            <span>{{getDate(request)}}</span>
                                            <span>{{getTime(request)}}</span>
                                        </div>

                                        <div class="subject">
                                            <span>{{getSubject(request)}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row2 hidden">
                                    <mat-divider></mat-divider>

                                    <span>Description</span>
                                    <span>{{getDescription(request)}}</span>
                                </div>
                            </div>

                            <div class="buttons">
                                <mat-icon matTooltip="Delete request"
                                    (click)="openDeleteDialog(request)">delete_outline</mat-icon>
                            </div>
                        </div>

                        <div class="no-results" *ngIf="!myPendingRequests.length">
                            <span>No requests</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scroll-up" *ngIf="displayScrollButton()" (click)="scrollToRequestsSection()">
    <mat-icon>arrow_upward</mat-icon>
</div>