@import "../../../../mixins.scss";

.navbar {
    height: 64px !important;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 5px -1px #0003,
        0 6px 10px #00000024,
        0 1px 18px #0000001f;
    transition: background-color 400ms ease-out;

    &.transparent {
        background-color: rgb(0, 0, 0, 0) !important;
    }
}

.navbar-container {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5vw 0;
}

.logo-nav {
    height: 100%;
    overflow: hidden;

    .logo-image {
        height: 150%;
        margin: -16px 0 16px;
    }
}

.navbar-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

button[mat-stroked-button] {
    @include stroked-button-border-color;
    margin-left: 20px;
    border-width: 2px !important;

    &.transparent {
        font-weight: 600 !important;
    }
}

.button-round-outline {
    border-radius: 44px !important;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
}