<div class="home-background">
    <img class="home-background-image" data-aos="fade-down" data-aos-duration="1200" data-aos-easing="ease-in-out-quad"
        src="assets/images/home-background/home-background.png">

    <div class="home-decorator-container" data-aos="slide-right" data-aos-duration="1000"
        data-aos-easing="ease-out-quad" data-aos-delay="200"></div>

    <div class="home-message" data-aos="slide-right" data-aos-duration="1200" data-aos-easing="ease-out-quad">
        <p>
            <span class="big-text">STUDENT</span> or <span class="big-text">MENTOR</span> <br> this is where the
            adventure <br> really begins!
        </p>
    </div>

    <div class="home-button" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease" data-aos-delay="600"
        data-aos-offset="100px">
        <button mat-stroked-button color="accent" (click)="scrollToCards()">START EXPLORING</button>
    </div>
</div>

<div class="cards-section">
    <div class="cards-heading">
        <h1>Discover our cool features</h1>
        <mat-divider></mat-divider>
    </div>

    <div class="cards-container">
        <mat-card class="action-card">
            <div class="card-image">
                <img mat-card-image src="assets/images/icons/mentorship.png">
                <div class="overlay">
                    <p>This functionality consists of a tutoring platform, with the main purpose of
                    increasing social interaction between students and promoting an environment where students of the same faculty are
                    encouraged to help each other.
                    <br><br><br>
                    The platform gives the possibility to students with pedagogical inclinations to offer punctual help to
                    those who encounter difficulties in understanding certain subjects within the faculty by planning mentoring
                    sessions.</p>
                </div>
            </div>

            <mat-card-header>
                <mat-card-title>Mentorship</mat-card-title>
            </mat-card-header>

            <mat-card-actions>
                <a mat-button color="primary" routerLink="/mentorship/mentors">
                    FIND A MENTOR
                </a>
                <a mat-button color="primary" routerLink="/my-account">
                    BE A MENTOR
                </a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="action-card">
            <div class="card-image">
                <img mat-card-image src="assets/images/icons/feedback.png">
                <div class="overlay">
                    <p>Within the PoliMeets application, this functionality implements a form of student transparent feedback, being an improved alternative to the classic Feedback Forms on Moodle.
                    <br><br><br>
                    The collection of feedback within the platform aims to improve the teaching activities while also offering students the possibility to view and offer feedback for their upcoming subjects.</p>
                </div>
            </div>

            <mat-card-header>
                <mat-card-title>Feedback</mat-card-title>
            </mat-card-header>

            <mat-card-actions>
                <a mat-button color="primary" routerLink="/feedback/me">
                    SEE FEEDBACK
                </a>
                <a mat-button color="primary" routerLink="/feedback/subjects">
                    GIVE FEEDBACK
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>