<mat-dialog-content class="admin-dialog">
    <div class="dialog-header">
        <p *ngIf="!isEdit">Add Feedback Category</p>
        <p *ngIf="isEdit">Edit Feedback Category</p>
        <span>* required fields</span>
    </div>

    <div class="dialog-content">
        <form [formGroup]="adminForm">
            <div class="admin-fields">
                <mat-label>Name <span>*</span></mat-label>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Category name" formControlName="name">
                </mat-form-field>

                <mat-label>Grade Question <span>*</span></mat-label>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Grade Question" formControlName="gradeQuestion">
                </mat-form-field>

                <mat-label>Text Question <span>*</span></mat-label>
                <mat-form-field appearance="fill">
                    <textarea matInput formControlName="textQuestion" placeholder="Text Question"></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="admin-cancel-button" mat-dialog-close>Cancel
    </button>
    <button mat-flat-button cdkFocusInitial class="admin-add-button"
        [ngClass]="{'enabled': isFormValid() && isFormModified()}" [disabled]="!isFormValid() || !isFormModified()"
        [mat-dialog-close]="getNewEntry()">Submit</button>
</mat-dialog-actions>