<img class="background-img" src="assets/images/auth/auth-background.png">

<img class="logo" src="assets/images/logo/poli-meets-logo-dark.png">

<img class="background-img overlay-login" src="assets/images/auth/overlay-signin.png">

<div class="login-card-container">
    <div class="login-card-container-width">
        <mat-card class="login-card">
            <div class="login-card-content">
                <div class="left">
                </div>

                <div class="right" data-aos="slide-right" data-aos-duration="900" data-aos-easing="ease">
                    <div class="right-padding">
                        <mat-card-header>
                            <mat-card-title class="title">Sign In</mat-card-title>
                            <mat-card-subtitle class="subtitle">
                                Don't have an account yet?
                                <span><a routerLink="/register">Sign Up Now</a></span></mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                <div class="login-fields">
                                    <mat-label>Email</mat-label>
                                    <mat-form-field appearance="fill">
                                        <input matInput type="email" placeholder="Enter your email address"
                                            formControlName="email" (ngModelChange)="clearEmailErrors()"
                                            (focus)="clearEmailErrors()">
                                        <mat-error>{{getEmailErrorMessage()}}</mat-error>
                                    </mat-form-field>

                                    <mat-label>Password</mat-label>
                                    <mat-form-field appearance="fill">
                                        <input matInput [type]="getPasswordType()" placeholder="Enter your password"
                                            formControlName="password" (ngModelChange)="clearPasswordErrors()"
                                            (focus)="clearPasswordErrors()">
                                        <mat-icon color="primary"
                                            *ngIf="passwordVisibility && loginForm.controls['password'].value"
                                            matIconSuffix (click)="toggleVisibility()">visibility</mat-icon>
                                        <mat-icon color="primary"
                                            *ngIf="!passwordVisibility && loginForm.controls['password'].value"
                                            matIconSuffix (click)="toggleVisibility()">visibility_off</mat-icon>
                                        <mat-error>{{getPasswordErrorMessage()}}</mat-error>
                                    </mat-form-field>

                                    <mat-checkbox color="accent" formControlName="rememberCredentials">
                                        Remember me</mat-checkbox>

                                    <mat-error class="incorrect-login" *ngIf="failedLogin">
                                        The email or password is
                                        incorrect. Please try again.
                                    </mat-error>

                                    <button class="login-button" mat-raised-button color="accent" type="submit"
                                        [disabled]="isLoading">
                                        <span *ngIf="!isLoading">LOGIN
                                        </span>
                                        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                                    </button>
                                </div>
                            </form>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>